<h1>Scrape list</h1>

<p><%= link_to "New scrape", new_job_path(:th) %> | <%= link_to "Resque", "/resque", target: :_blank %></p>

<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>#</th>
      <th>Date created</th>
      <th>Last update</th>
      <th>Status</th>
      <th colspan="2">Download *</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= l job.created_at, format: :long %></td>
        <td><%= l job.updated_at, format: :long %></td>
        <td><%= job.status.titleize %></td>
        <td><%= link_to "zaradotcom-th.json", download_job_path(job), target: :_blank if job.done? %> </td>
        <td><%= link_to "zaradotcom-th-without-price.json", download_other_job_path(job), target: :_blank if job.done? %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><em>*) Download links will appear when the <b>Status</b> is <b>Done</b>.</em></p>
